


* {
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --body-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* TRANSITION */
    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;
}
.body {
    height: 100vh;
    background: var(--body-color);
}
/* REUSABLE CSS */
.sidebar .text {
    font-size: 16px;
    font-weight: 500;
}
.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
}

.sidebar .image-text img {
    width: 40px;
    border-radius: 50%;
}
.sidebar header .image-text {
    display: flex;
    align-items: center;
}